<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.mapper.ext.ECustomerExtendMapper">
  <resultMap id="BaseResultMap" type="com.briup.estore.bean.ECustomer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <insert id="saveECustomer" useGeneratedKeys="true" 
  		  keyColumn="id" keyProperty="id">
  	 insert into e_customer (username, password, 
      zip, address, phone, 
      email)
    values ( #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert> 
  <select id="findByName" resultMap="BaseResultMap">
  	select id, username, password, zip, address, phone, email
    from e_customer
    where username = #{name,jdbcType=VARCHAR}
  </select>
</mapper>

