<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.mapper.ext.EOrderExtendMapper">
  <resultMap id="BaseResultMap" type="com.briup.estore.bean.EOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="total" jdbcType="REAL" property="total" />
    <result column="orderDate" jdbcType="TIMESTAMP" property="orderdate" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
  </resultMap>
  <insert id="saveOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.briup.estore.bean.EOrder">
    insert into e_order ( total, orderDate, 
      customer_id)
    values (#{total,jdbcType=REAL}, #{orderdate,jdbcType=TIMESTAMP}, 
      #{customerId,jdbcType=INTEGER})
  </insert>

</mapper>